<p class="others">（本サイト作成の目的）<br>
・メーリスの廃止に伴って情報共有サイトを作りたいと思い作成しました。</p>

<p class="others">（本サイトの使用法）<br>
・TOP：トップページです。現在募集中の大会案内やイベント、カレンダーを実装しました。<br>
・掲示板：以前のメーリスの代わりになるものです。ここで大会案内や練習日程等の連絡をします。<br>
・練習・大会関連：今月の練習ノート・大会結果、大会実況、過去の大会結果について載せました。<br>
・その他：本ページです。</p>

<p class="others">（今後の方針）<br>
・今後より会員が使いやすくなるように実装していくつもりです。</p>

<p class="others">（本サイト作成者より）<br>
まだまだ技術不足なため機能としてはこのサイトが限界です。今後、私の技術の進歩に伴いより良いサイトに仕上げていくつもりです。至らぬ点も多くありますが何卒よろしくお願いいたします。</p>